<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Modificar Cliente</title>
</head>
<body>
<form th:object="${cliente}" th:action="@{/cliente/update/{dni}(id = ${cliente.dni})}") method="post">
  <label>DNI: </label>
  <input type="text" name="dni" th:field="*{dni}"/>
  <br>
  <label>Nombre: </label>
  <input type="text" name="nombre" th:field="*{nombre}"/>
  <br>
  <label>Apellido: </label>
  <input type="text" name="apellido" th:field="*{apellido}"/>
  <br>
  <label>Email: </label>
  <input type="text" name="email" th:field="*{email}"/>
  <br>
  <label>Direccion: </label>
  <input type="text" name="direccion" th:field="*{direccion}"/>

  <br>
  <button type="submit">
    Actualizar Cliente
  </button>
</form>
<a th:href="@{/clientes}">Ir atras</a>
</body>
</html>